@mixin flex-center($flex-direction: row, $justify-content: space-between, $gap: var(--space-xs)) {
	display: flex;
	flex-direction: $flex-direction;
	justify-content: $justify-content;
	align-items: center;
	gap: $gap;
}
@mixin display-width($width: var(--display-width-md)) {
	max-width: $width;
	margin: 0 auto;
	padding-inline: var(--space-xs-l);
}

@mixin linear-gradient($deg, $clr, $int, $end) {
	background: linear-gradient($deg, rgba($clr, $int) 0%, rgba($clr, 0) $end);
}
@mixin content-item() {
	height: fit-content;
	background-color: var(--color-sys-invert-highlight);
	overflow: auto;
	border-radius: var(--border-radius-regular);
	transition: transform 0.25s, box-shadow ease-in-out 0.25s;
	transform: translateY(0);
}