// Vars
:root {
	--header-height: var(--space-4xl);
	--border-radius-regular: var(--space-3xs);

	--color-sys-main: hsl(180, 25%, 15%);
	--color-sys-slight: hsla(0, 0%, 10%, 0.75);
	--color-sys-dim: hsla(0, 0%, 10%, 0.35);
	--color-sys-dis: hsla(0, 0%, 10%, 0.1);
	--color-sys-none: hsla(0, 0%, 10%, 0);

	--color-sys-invert: antiquewhite;
	--color-sys-invert-highlight: white;
	
	--color-link-main: hsl(290, 100%, 25%);
	--color-link-slight: hsl(290, 100%, 35%);
	
	--color-focus-main: hsl(200, 100%, 30%);
	--color-focus-slight: hsl(200, 100%, 50%);

	--bg-primary: var(--color-sys-invert);
	--content-space: 1rem;
	--space-md: 1rem;
	--bg-pre: none;

	--shadow-sm: 
		0 0.1rem 0.1rem var(--color-sys-dis), 
		0 0.2rem 0.2rem var(--color-sys-dis),
		0 0.3rem 0.3rem var(--color-sys-dis);
	--shadow-md: 
		0 0.2rem 0.2rem var(--color-sys-dis), 
		0 0.4rem 0.4rem var(--color-sys-dis),
		0 0.8rem 0.8rem var(--color-sys-dis);
	--shadow-lg: 
		0 0.3rem 0.3rem var(--color-sys-dis), 
		0 0.6rem 0.6rem var(--color-sys-dis),
		0 1.2rem 1.2rem var(--color-sys-dis);
	--font-wight--bolder: bolder;
	--font-size-2xl: 2em;
}

body {
	background-color: var(--color-sys-invert);
	color: var(--color-sys-main);
}

img {
	width: 100%;
	height: auto;
	border-radius: var(--border-radius-regular);
	display: flow-root;
}
button {
	@include focus();
	color: var(--color-link-main);
	background-color: var(--color-sys-invert-highlight);
	box-shadow: 0 var(--space-4xs) var(--color-link-main), inset 0 0 0 1px var(--color-link-slight);
	border: none;
	padding: var(--space-2xs) var(--space-xs);
	font-size: var(--step--1);
	border-radius: var(--border-radius-regular);
	font-family: var(--font-mono);
	cursor: pointer;
	transition: transform 0.35s ease-in-out, box-shadow 0.25s ease-in-out;
	transform: translateY(calc(var(--space-4xs) * -1));
	&:hover {
		transform: translateY(0);
		box-shadow: 0 0 var(--color-link-main), inset 0 0 0 1px var(--color-link-main);
	}
}
img ~ em {
	color: var(--color-sys-slight);
	font-size: var(--step--1);
	padding-inline-start: var(--space-2xs);
	border-inline-start: var(--color-sys-dim) solid var(--space-4xs);
	display: inline-block;
	margin-block-start: var(--space-2xs);
}
hr {
	border: none;
	border-bottom: solid 1px var(--color-sys-dim);
}
.dark {
	--color-sys-main: hsl(34, 78%, 91%);
	--color-sys-slight: hsla(34, 78%, 91%, 0.75);
	--color-sys-dim: hsla(34, 78%, 91%, 0.25);
	--color-sys-dis: hsla(34, 78%, 91%, 0.1);

	--color-sys-invert: hsl(34, 8%, 16%);
	--color-sys-invert-highlight: hsl(34, 8%, 10%);

	--color-link-main: hsl(290, 100%, 90%);
	--color-link-slight: hsl(290, 100%, 80%);

	--color-focus-main: hsl(200, 100%, 60%);
	--color-focus-slight: hsl(200, 100%, 80%);
}
