table {
    text-align: left;
    background-color: var(--color-sys-invert-highlight);
    padding: var(--space-s);
    border-radius: var(--border-radius-sm);
    margin-block: var(--space-s);
    overflow: hidden;
    box-shadow: var(--shadow-sm);

}
thead {
    background-color: var(--color-link-dis);
    font-family: var(--font-hand);
    font-variation-settings: 'wght' 600, 'ital' 1;

}
th,
td {
    padding: var(--space-s);
}
th:nth-child(even),
tr:nth-child(even) {
    background-color: var(--color-link-dis);
}
td {
    min-width: var(--space-2xl);
}
td:nth-child(even) {
    background-color: var(--color-link-dis);
}