/* Typography */
/* @link https://utopia.fyi/type/calculator/?c=320,17,1.125,1240,16,1.25,9,4,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
	--step--4: clamp(0.4094rem, 0.7514rem + -0.4413vw, 0.6631rem);
	--step--3: clamp(0.5119rem, 0.8278rem + -0.4076vw, 0.7463rem);
	--step--2: clamp(0.64rem, 0.9087rem + -0.3467vw, 0.8394rem);
	--step--1: clamp(0.8rem, 0.9946rem + -0.2511vw, 0.9444rem);
	--step-0: clamp(1rem, 1.0842rem + -0.1087vw, 1.0625rem);
	--step-1: clamp(1.1956rem, 1.1767rem + 0.0946vw, 1.25rem);
	--step-2: clamp(1.345rem, 1.2693rem + 0.3783vw, 1.5625rem);
	--step-3: clamp(1.5131rem, 1.3601rem + 0.7652vw, 1.9531rem);
	--step-4: clamp(1.7019rem, 1.4447rem + 1.2859vw, 2.4413rem);
	--step-5: clamp(1.9144rem, 1.5187rem + 1.9783vw, 3.0519rem);
	--step-6: clamp(2.1538rem, 1.5759rem + 2.8891vw, 3.815rem);
	--step-7: clamp(2.4231rem, 1.6075rem + 4.0783vw, 4.7681rem);
	--step-8: clamp(2.7263rem, 1.6012rem + 5.625vw, 5.9606rem);
	--step-9: clamp(3.0669rem, 1.5421rem + 7.6239vw, 7.4506rem);
}

/* Space */
/* @link https://utopia.fyi/space/calculator?c=320,17,1.125,1240,16,1.25,9,4,&s=0.75|0.5|0.25|0.125,1.5|2|3|4|5|6|7|8|9|10,s-l|xs-l&g=s,l,xl,12 */

:root {
	--space-4xs: clamp(0.125rem, 0.125rem + 0vw, 0.125rem);
	--space-3xs: clamp(0.25rem, 0.25rem + 0vw, 0.25rem);
	--space-2xs: clamp(0.5625rem, 0.5842rem + -0.1087vw, 0.5rem);
	--space-xs: clamp(0.8125rem, 0.8342rem + -0.1087vw, 0.75rem);
	--space-s: clamp(1.0625rem, 1.0842rem + -0.1087vw, 1rem);
	--space-m: clamp(1.625rem, 1.6685rem + -0.2174vw, 1.5rem);
	--space-l: clamp(2.125rem, 2.1685rem + -0.2174vw, 2rem);
	--space-xl: clamp(3.1875rem, 3.2527rem + -0.3261vw, 3rem);
	--space-2xl: clamp(4.25rem, 4.337rem + -0.4348vw, 4rem);
	--space-3xl: clamp(5.3125rem, 5.4212rem + -0.5435vw, 5rem);
	--space-4xl: clamp(6.375rem, 6.5054rem + -0.6522vw, 6rem);
	--space-5xl: clamp(7.4375rem, 7.5897rem + -0.7609vw, 7rem);
	--space-6xl: clamp(8.5rem, 8.6739rem + -0.8696vw, 8rem);
	--space-7xl: clamp(9.5625rem, 9.7582rem + -0.9783vw, 9rem);
	--space-8xl: clamp(10.625rem, 10.8424rem + -1.087vw, 10rem);

	/* One-up pairs */
	--space-4xs-3xs: clamp(0.125rem, 0.0815rem + 0.2174vw, 0.25rem);
	--space-3xs-2xs: clamp(0.25rem, 0.163rem + 0.4348vw, 0.5rem);
	--space-2xs-xs: clamp(0.5625rem, 0.4973rem + 0.3261vw, 0.75rem);
	--space-xs-s: clamp(0.8125rem, 0.7473rem + 0.3261vw, 1rem);
	--space-s-m: clamp(1.0625rem, 0.9103rem + 0.7609vw, 1.5rem);
	--space-m-l: clamp(1.625rem, 1.4946rem + 0.6522vw, 2rem);
	--space-l-xl: clamp(2.125rem, 1.8207rem + 1.5217vw, 3rem);
	--space-xl-2xl: clamp(3.1875rem, 2.9049rem + 1.413vw, 4rem);
	--space-2xl-3xl: clamp(4.25rem, 3.9891rem + 1.3043vw, 5rem);
	--space-3xl-4xl: clamp(5.3125rem, 5.0734rem + 1.1957vw, 6rem);
	--space-4xl-5xl: clamp(6.375rem, 6.1576rem + 1.087vw, 7rem);
	--space-5xl-6xl: clamp(7.4375rem, 7.2418rem + 0.9783vw, 8rem);
	--space-6xl-7xl: clamp(8.5rem, 8.3261rem + 0.8696vw, 9rem);
	--space-7xl-8xl: clamp(9.5625rem, 9.4103rem + 0.7609vw, 10rem);

	/* Custom pairs */
	--space-s-l: clamp(1.0625rem, 0.7364rem + 1.6304vw, 2rem);
	--space-xs-l: clamp(0.8125rem, 0.3995rem + 2.0652vw, 2rem);
}

/* Grid */
/* @link https://utopia.fyi/grid/calculator?c=320,17,1.125,1240,16,1.25,9,4,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

:root {
	--grid-gutter: var(--space-s-l, clamp(1.06rem, calc(0.62rem + 2.23vw), 2rem));
	--grid-columns: 12;
}

.u-container {
	max-width: var(--display-width-md);
	padding-inline: var(--grid-gutter);
	margin-inline: auto;
}

.u-grid {
	display: grid;
	gap: var(--grid-gutter);
}
