$display-width-md: 960px;
$display-width-sm: 720px;
$display-width-xs: 544px;
$display-width-2xs: 426px;
:root{
    --display-width-md: 960px;
    --display-width-sm: 720px;
    --display-width-xs: 544px;
    --display-width-2xs: 426px;
}