$display-width-xl: 1280px;
$display-width-lg: 960px;
$display-width-md: 880px;
$display-width-sm: 720px;
$display-width-xs: 544px;
$display-width-2xs: 426px;
:root{
    --display-width-xl: 1280px;
    --display-width-lg: 960px;
    --display-width-md: 880px;
    --display-width-sm: 720px;
    --display-width-xs: 544px;
    --display-width-2xs: 426px;
}

@keyframes wobble {
	from {
		font-variation-settings: 'wght' 500, 'BNCE' 100, 'INFM' 0;
	}

	to {
		font-variation-settings: 'wght' 700, 'BNCE' -50, 'INFM' 100;
	}
}